openapi: "3.0.0"
info:
  title: Life360 Circles API
  version: 1.0.0
  description: Manage Life360 circles and memberships
servers:
  - url: https://api.life360.com/v3
    description: Production server
paths:
  /circles:
    get:
      summary: List circles
      operationId: listCircles
      tags:
        - Circles
      responses:
        "200":
          description: A list of circles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircleList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /circles/{circleId}:
    get:
      summary: Get a circle
      operationId: getCircle
      tags:
        - Circles
      parameters:
        - $ref: '#/components/parameters/CircleId'
      responses:
        "200":
          description: Circle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Circle'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Circle not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    CircleId:
      name: circleId
      in: path
      required: true
      description: Unique identifier for a circle
      schema:
        $ref: '#/components/schemas/CircleIdParam'
  schemas:
    CircleIdParam:
      type: string
      description: Unique circle identifier
      example: "abc123"
    Circle:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        memberCount:
          type: integer
    CircleList:
      type: array
      items:
        $ref: '#/components/schemas/Circle'
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
        - code
        - message
